<%- include('includes/header'); %>

<div class="row align-items-center justify-content-center vh-100">
    <div class="col-1 card-body border border-light-subtle shadow-lg p-3 rounded-3 w-25 h-25 m-3"  style="--bs-bg-opacity: .8"">
        <h3 class="card-title mb-1">Lideranças</h3>
        <h6 class="card-text">Cadastre e edite membros das lideranças com principais dados.</h6>
        <a href="/liderancas" class="btn btn-primary mt-4">Editar</a>    
    </div>
    <div class="col-6 card-body border border-light-subtle shadow-lg p-3 rounded-3 w-25 h-25 m-3"  style="--bs-bg-opacity: .8">
        <h3 class="card-title mb-1">Missas</h3>
        <h6 class="card-text">Administre a agenda mensal das missas da Paróquia.</h6>
        <a href="/missas" class="btn btn-primary mt-4">Editar</a>
    </div>
    <div class="col-8 card-body border  border-light-subtle shadow-lg p-3 rounded-3 w-25 h-25 m-3"  style="--bs-bg-opacity: .8">
        <h3 class="card-title mb-1">Escala</h3>
        <h6 class="card-text ">Gere automaticamente e manipule as escalas mensais da sua pastoral.</h6>
        <a href="/escala" class="btn btn-primary mt-4">Editar</a>
    </div>
</div>

<%- include("includes/footer"); %>